# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [22]:
import pandas as pd
import numpy as np
import random

In [30]:
data = {'國家': ['a', 'b', 'c', 'd', 'e'],
        '人口':  np.random.randint(100,50000,5)}
data = pd.DataFrame(data)
data

  國家     人口
0  a   2390
1  b  22637
2  c  26982
3  d  47614
4  e  43907

In [31]:
s = pd.Series(np.random.randint(100,50000,5), index= ['國家a', '國家b', '國家C', '國家d', '國家e'])
s

國家a     1931
國家b    22553
國家C     4271
國家d     7849
國家e     4635
dtype: int64

In [35]:
data.sort_values(by= ['人口'], ascending=False)

  國家     人口
3  d  47614
4  e  43907
2  c  26982
1  b  22637
0  a   2390