# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [45]:
import pandas as pd
import numpy as np
import random

In [46]:
data = {'國家': ['a', 'b', 'c', 'd', 'e'],
        '人口':  np.random.randint(100,50000,5)}
data = pd.DataFrame(data)
data

  國家     人口
0  a  30032
1  b  38247
2  c  41458
3  d  38218
4  e   9422

In [47]:
s = pd.Series(np.random.randint(100,50000,5), index= ['國家a', '國家b', '國家C', '國家d', '國家e'])
s

國家a    47685
國家b     9167
國家C    45980
國家d    45323
國家e    42206
dtype: int64

In [48]:
data.sort_values(by= ['人口'], ascending=False)

  國家     人口
2  c  41458
1  b  38247
3  d  38218
0  a  30032
4  e   9422

------
#### 找出最大的人口數

In [49]:
print(np.max(data['人口']))

41458

####  人口數最大的編號

In [59]:
max = data['人口'].idxmax()
max

2

#### 找出人口數最大的國家

In [60]:
df = pd.DataFrame(data.iloc[max, ])
import numpy
numpy.transpose(df)

  國家     人口
2  c  41458